<table width="100%" class="item" cellspacing="0" cellpadding="0">
  <form name="form_confirm" method="post" action="<{$arms_form_action}>">
    <tr>
      <th align="center"><{$arms_lang.confirm}></th>
    </tr>
    <tr>
      <td align="center" class="even">
        <{$arms_lang.confirm_message}><br>
        <input name="arms_confirm" type="checkbox" id="arms_confirm" value="confirmed"><{$arms_lang.confirm}>
      </td>
    </tr>
    <tr>
      <td align="center" class="odd">
        <input name="btn_submit" type="submit" id="btn_submit" value="<{$arms_lang.submit}>">
        <input name="btn_reset" type="reset" id="btn_reset" value="<{$arms_lang.reset}>">
      </td>
    </tr>
  </form>
</table>
